@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/*Escritorio*/
@media (min-width: 992px) {
    .texto {
        margin-top: 95%;
    }

    .perfil {
        width: 350px;
        padding-top: 90%;
    }

    .aboutp {
        width: 410px;
        height: 420px;
    }

    .projectimg {
        height: 328px;
    }

    .tarjetaexp {
        justify-content: end;
        align-items: end;
    }

    .tarjetas-exp {
        width: 28.7rem;
        height: auto;
    }

    .titulo {
        padding-top: 12%;
    }

    .titulo2 {
        padding-top: 30%;
    }

    .titulo3 {
        padding-top: 25%;
    }

    .tarjetapro {
        width: 25rem;
    }

    .contactota {
        width: 28rem;
    }

    .experiencia {
        display: flex;
        justify-content: end;
    }

    .linquedin {
        display: flex;
        justify-content: end;
        margin-left: 10px;
    }

    .imgaboutme {
        display: flex;
        justify-content: end;
        padding-right: 4rem;
    }

    .contacto {
        margin-top: 350px;
    }

    .arrowe {
        margin-top: 270px;
    }
}

/* Teléfono modo escritorio */
@media (min-width: 768px) and (max-width: 991.98px) and (orientation:portrait) {

    .texto {
        margin-top: 120px;
    }

    .perfil {
        width: 345px;
        padding-top: 170px;
        justify-items: center;
        justify-content: center;
    }

    .titulo, .titulo2, .titulo3 {
        margin-top: 120px;
    }

    .githubbutton {
        margin-bottom: 10px;
    }

    .contactota {
        width: 450px;
    }

    .bo2 {
        margin-top: 10px;
    }

    .aboutp {
        height: 590px;
        width: 320px;
    }
}

/*Teléfono orientación vertical*/
@media (max-width: 575.98px) and (orientation:portrait) {

    .perfil {
        width: 345px;
        padding-top: 60%;
        justify-items: center;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contactota {
        width: 350px;
    }

    .texto {
        margin-top: 18%;
    }

    .aboutp {
        margin-bottom: 5%;
    }

    #tarjeticapro {
        margin-bottom: 35px;
    }

    .tarjetas-exp {
        max-width: 100%; 
        margin-left: auto;
        margin-right: auto;
    }

    .titulo {
        padding-top: 30%;
    }

    .titulo2 {
        padding-top: 40%;
    } 

    .titulo3 {
        padding-top: 35%;
    }
    
    .tarjetaexpe {
        width: 10rem;
    }

    .githubbutton {
        margin-bottom: 10px;
    }

    .linkedin {
        margin-top: 10px;
    }

    .textocarta {
        text-align: center;
    }

    .projectimg {
        height: 275px;
    }

    .contacto {
        margin-top: 290px;
    }
}

/*Teléfono orientación horizontal*/
@media (max-width: 576px) and (orientation:landscape) {
    body{background: rgb(156, 156, 156);}
    
}

.aboutp, .tarjetas-exp {
    border-radius: 2em;
}

.tarjetapro {
    height: 28rem;
}

.skillzzz {
    font-size: large;
}

.check2 {
    padding-top: 4rem;
}

.arrow, .arrowe {
    width: 40px;
}

.cntner {
    padding-top: 8%;
}

.titulot {
    padding-top: 15px;
}

.git-link {
    padding-top: 20px;
    text-decoration: none;
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
}

.bo1 {
    border-color: black;
    color: black;
    border-radius: 3em;
}

.bo2 {
    border-color: white;
    color: white;
    border-radius: 3em;
} 